$cv-base-font-size: 13px;

$color__red: #D43B1D;

$color__grey--dark: #333;
$color__gray--dark: $color__grey--dark;

$color__grey--light: #F3F3F3;
$color__gray--light: $color__grey--light;

body.page-template-page-cv-php {

	background: $color__grey--light;
}

.cv__wrapper {

	max-width: 1024px;
	padding: 0 5%;
	margin: 0 auto;
	background: #FFFFFF;

	color: $color__grey--dark;

	a {
		color:	$color__grey--dark;
		font-size: inherit;

		&.pseudo_href:after {
		    content: " - " attr(href) " ";
		    opacity: .65;
		  }
	}

	code {

		font-family: monospace;
	}

	p {

		font-size: $cv-base-font-size;
		margin: 0;
	}

	.color__red {

		color: $color__red;
	}

	.cv__header {

		padding: ( $cv-base-font-size * 2 ) 0 ( $cv-base-font-size * 10 ) 0;

		* {

			margin: 0;
			line-height: $cv-base-font-size * 3;
			font-size: $cv-base-font-size * 2;
		}

		.cv__name * {

			font-size: $cv-base-font-size * 3.5;
		}
	}

	.section__title {

		@include Baskerville-Italic;
		font-size: $cv-base-font-size * 2;
		margin: 0;
	}

	.cell {

		padding: 5px 0 21px 0;

		&.cell--col_2 {

			border-top: 1px solid $color__grey--light;
			border-left: 1px solid $color__grey--light;

			&:first-of-type {

				border-top: 0;
			}

			.job_description .layout__item * {

				padding-left: 5px;
			}
		}
	}

	.job_description {

		padding-top: $cv-base-font-size * 1.15;

		@include Verb-Light;

		* {
			margin: 0;
		}

		.job_description__employer, .job_description__body {
			font-size: $cv-base-font-size;
		}

		.job_description__title, .job_description__year { 
			font-size: $cv-base-font-size * 1.15;
			padding-bottom: 2px;
		}

		.job_description__title, .job_description__employer {
			padding-bottom: 2px;
			@include Verb-Condensed;
		}

	}

	.contact--body {

		font-size: $cv-base-font-size * 1.15;
		padding-bottom: 2px;
		display: block;
	}

	.cv__footer {

		text-align: center;
		padding-top: $cv-base-font-size * 4;
		padding-bottom: $cv-base-font-size * 2;

		font-size: $cv-base-font-size;
		color: $color__grey--dark;
	    opacity: .65;
	}
}

@media screen and (max-width: 619px) {

	.cv__wrapper {

		.cell {

		padding: 5px 0 21px 0;

			&.cell--col_2 {

				border-color: transparent;
			}
		}
	}
}
