.sandbox {
	
	border: 1px yellow solid;

	* {

		outline: 1px solid blue;
	}

	&.sandbox--ignore-children * {

		outline: none;
	}

	.greybox {

		border: none;
		background: #DDD;
	}
}

/* TODO: This cannot remain here */
.fp-section__header h2 {
	margin-left: 205px;
}