/*  Mixin found here: codepen.io/javasteve99/pen/hDxpn */
@mixin font-face($font-family, $file-path, $font-weight, $font-style, $file-path-prefix:"css/fonts/") {

	$file-path: $file-path-prefix + $file-path;

  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}


/// Baskerville Italic
@include font-face(libre_baskervilleitalic, "librebaskerville-italic-webfont", 400, normal); 

/// Baskerville Regular
@include font-face(libre_baskervilleregular, "librebaskerville-regular-webfont", 400, normal); 

/// Baskerville Bold
@include font-face(libre_baskervillebold, "librebaskerville-bold-webfont", 400, normal);

/// Verb Light
@include font-face(verblight, "verblight-webfont", 400, normal);

/// Verb Light Italic
@include font-face(verblight_italic, "verblight-italic-webfont", 400, normal);

/// Verb Condensed
@include font-face(verbcondregular, "verbcondregular-webfont", 400, normal);

/// Verb Condensed Italic
@include font-face(verbcondregular_italic, "verbcondregular-italic-webfont", 400, normal);


/// Baskerville Italic
@mixin Baskerville-Italic {
  font-family: 'libre_baskervilleitalic', times, serif;
  font-weight: 400; font-style: normal; 
  word-spacing: 0;
}

/// Baskerville Regular
@mixin Baskerville-Regular {
  font-family: 'libre_baskervilleregular', times, serif;
  font-weight: 400; font-style: normal; 
  word-spacing: 0;
}

/// Baskerville Bold
@mixin Baskerville-Bold {
  font-family: 'libre_baskervillebold', times, serif;
  font-weight: 400; font-style: normal; 
  word-spacing: 0;
}

/// Verb Light
@mixin Verb-Light {
  font-family: 'verblight', arial, sans-serif;
  font-weight: 400; font-style: normal;
  word-spacing: 0;
}

/// Verb Light Italic
@mixin Verb-Light-Italic {
  font-family: 'verblight_italic', arial, sans-serif;
  font-weight: 400; font-style: normal;
  word-spacing: 0;
}

/// Verb Condensed
@mixin Verb-Condensed {
  font-family: 'verbcondregular', arial, sans-serif;
  font-weight: 400; font-style: normal;
  word-spacing: 0;
}

/// Verb Condensed Italic
@mixin Verb-Condensed-Italic {
  font-family: 'verbcondregular_italic', arial, sans-serif;
  font-weight: 400; font-style: normal;
  word-spacing: 0;
}
