@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 619px) {

	.not_on_mobile {

		display: none;
	}

	.fancy-pants {

	font-size: $inuit-base-font-size;

		.whisper {

			font-size: $inuit-base-font-size * .9;
		}
	}

	.frame {

		padding-bottom: $inuit-base-spacing-unit * .5;
		position: relative;
		z-index: 100;

		/*
		&.frame--single {}
		*/
		&.frame--splash {

			.search-form .search-field {

				width: 100%;
			}
		}

		&.frame--archive,
		&.frame--404 {

			padding-left: $default-padding-horizontal;
		}
		
	}

	ul, ol, dd {

		margin-left: 1rem;
	}	

	.back-to-top {

		top: 160vh; 
	}

	#site-header,
	.fp-section__header {

		h2 {

			margin: -($inuit-base-spacing-unit * .75) 0;
			float: left;
			padding-left: $inuit-base-spacing-unit * 1.5;
		}

		.fp-section__header__spacer {

			display: block;
		}

		.intimate-details {

			padding-top: $inuit-base-spacing-unit;
		}
	}

	.frame__title {

		padding-top: $inuit-base-spacing-unit;

		.subhead {
		
			font-size: $inuit-base-font-size * 1.5;
			padding-left: $inuit-base-spacing-unit * 1.5;
		}

		.subhead__search_results {
		
			display: inline;
		}

		.subhead__search_again {
		
			padding-top: $inuit-base-spacing-unit * .5;
			display: block;
		}
	}

	.author-box {
		
		padding-top: $inuit-base-spacing-unit;
		margin-top: $inuit-base-spacing-unit * 2;
	}

	.menu-footer-menu-container li {

		padding-right: $inuit-base-spacing-unit * 1.5;
	}

	.fp-section__header .search__container {

			display: none;


	}
	#footer .search-form .search-field {


	}
}

/* eyeroll */
@media screen and (max-width: 42em) {
	
	.entry {

		font-size: 1em;
	}
}

