@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 619px) {

	.frame {

		padding-bottom: $inuit-base-spacing-unit * .5;
		position: relative;
		z-index: 100;

		/*
		&.frame--single {}
		*/
		&.frame--splash {

			.search-form .search-field {

				width: 100%;
			}
		}

		&.frame--archive,
		&.frame--404 {

			padding-left: $inuit-base-spacing-unit * 2;
		}
		
	}

	ul, ol, dd {

		margin-left: 1rem;
	}	

	.back-to-top {

		top: 240vh; 
	}

	#site-header,
	.fp-section__header {

		h2 {

			margin: -($inuit-base-spacing-unit * .75) 0;
			float: left;
			padding-left: $inuit-base-spacing-unit * 1.5;
		}

		.fp-section__header__spacer {

			display: block;
		}
	}

	.frame__title {

		padding-top: $inuit-base-spacing-unit;

		.subhead {
		
			font-size: $inuit-base-font-size * 1.5;
			padding-left: $inuit-base-spacing-unit * 1.5;
		}

		.subhead__search_results {
		
			display: inline;
		}

		.subhead__search_again {
		
			display: block;
		}
	}

	.author-box {
		
		padding-top: $inuit-base-spacing-unit;
		margin-top: $inuit-base-spacing-unit * 2;
	}

	.menu-footer-menu-container li {

		padding-right: $inuit-base-spacing-unit * 1.5;
	}

	.fp-section__header .search__container {

			display: none;


	}
	#footer .search-form .search-field {

		width: 80%;  /* so we don't overlap the 'top' button */
	
		/* 24 is the $inuit-base-spacing-unit, but I couldn't get that to work in the function */
		width: -webkit-calc(90% - 48px);
		width: -moz-calc(90% - 48px);
		width: calc(90% - 48px);
	}
}

/* eyeroll */
@media screen and (max-width: 42em) {
	
	.entry {

		font-size: 1em;
	}
}

