/* Colours */
$color__white: #FFFFFF;
$color__black: #000000;

$color__grey--light: #f9f9f9;
$color__gray--light: $color__grey--light;

$color__grey--still-pretty-light: #f3f3f3;
$color__gray--still-pretty-light: $color__grey--still-pretty-light;

$color__grey: #CBCBCB;
$color__gray: $color__grey;

$color__grey--dark: #333;
$color__gray--dark: $color__grey--dark;

$color__red: #d43b1d;
$color__yellow: #fcd700;

$color__placeholder: #B4B4B4;

/* Mixins */
@mixin zw-lowercase($font-size: 1em) {

  font-variant: normal;
  text-transform: lowercase;
  font-size: $font-size;
}

@mixin zw-opacity($opacity) {
  $IEValue: $opacity*100;

  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity+")";
  filter: alpha(opacity=$opacity);
}

@mixin zw-visually-hidden($important: null) {
  position: absolute $important;
  left: -999em $important;
}

/* horizontal padding */
$default-padding-horizontal: $inuit-base-spacing-unit * 2;
$big-desk-padding: 15%;
$big-ass-desk-padding: 25%;

@mixin zw-padding-horizontal ($multiple-left: 1, $multiple-right: 1) {

  padding-left: $default-padding-horizontal * $multiple-left;
  padding-right: $default-padding-horizontal * $multiple-right;

  @include media-query("lumia520") {

    padding-left: ( $default-padding-horizontal * $multiple-left ) * .33;
    padding-right: ( $default-padding-horizontal * $multiple-right ) * .33;
  }

  @include media-query("palm") {

    padding-left: ( $default-padding-horizontal * $multiple-left ) * .5;
    padding-right: ( $default-padding-horizontal * $multiple-right ) * .5;
  }

  /* Desktops and laptops ----------- */
  @include media-query("big-desk") {

    padding-left: $big-desk-padding;
    padding-right: $big-desk-padding;
  }

  /* Large screens ----------- */
  @include media-query("big-ass-desk") {

    padding-left: $big-ass-desk-padding;
    padding-right: $big-ass-desk-padding;
  }
}

@mixin zw-site-container() {

  width: 100%;
  padding-top: $inuit-base-spacing-unit;
  padding-bottom: 0;
  margin: auto;
  border: 0;
  max-width: none;

  @include zw-padding-horizontal();
}

@mixin zw-transition($property, $timespan: .15s, $easing: ease-in) {

  transition: $property $timespan $easing;
}

@mixin zw-button($base-spacing, $font-size-proportion: 1) {

  font-size: $base-spacing * $font-size-proportion;
  position: relative;
  height: $base-spacing;
  width: $base-spacing;
  display: inline-block;
  color: $color__red;
  background: transparent;
  border: 0;
  text-align: center;
  line-height: $base-spacing;
}

@mixin zw-no-padding-hack($base-spacing) {

  margin-left: -($base-spacing);
  margin-right: -($base-spacing);
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: $color__yellow; color: $color__white; text-shadow: none;}
::selection {background: $color__yellow; color: $color__white; text-shadow: none;}

/* Overwrite top-level spacing */
html {

  font-size: $inuit-base-font-size * 1.1;
  line-height: $inuit-base-line-height;

  &.chardinjs--open {
    overflow: hidden;
    padding-right: 17px;
  }
}

/* Stupid preset in original theme. */
article img, article iframe, article div {

  max-width: 100% !important;
}

/* remove some padding from nested lists. */
ul, ol, dd {
  ul, ol, dd {

    margin-left: 0;
    margin-bottom: 0;
  }
}

/* add nice underlines to links */
.frame--single .entry p a:not([class]),
a.pc3-shuffle-onclick,
.fancy-pants a {
  @include link-underline($color__white, $color__red, $color__yellow);
}

.wrapper .post-title {

  padding-bottom: $inuit-base-spacing-unit * .4;
  font-size: $inuit-base-font-size * 2.5;
  line-height: $inuit-base-line-height * 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.wrapper .post-date,
.wrapper .post-meta p,
.wrapper .wp-caption-text,
.wrapper .gallery-caption {

  font-size: $inuit-base-font-size * .85;
  margin-bottom: $inuit-base-spacing-unit * 2;
  color: $color__grey--dark !important;
}


/* Overwrite all the fonts */
/* http://www.a2swhk.co.uk/ */
body {

  @include Verb-Light;
  color: $color__grey--dark;

  :focus {
    outline: 3px solid $color__yellow;
  }

  em {
    @include Verb-Light-Italic;
  }
  strong {
    @include Verb-Condensed-Italic;
  }
  q {
    @include Verb-Light-Italic;
  }
}
h1, h2, h3, h4, h5, h6 {
  @include Baskerville-Regular;
}
.wrapper .post-meta p,
.wrapper .post-meta p strong {
  @include Baskerville-Italic;
}
.wrapper .post-date,
.wrapper .wp-caption-text,
.wrapper .gallery-caption {
  @include Verb-Light;
}
.wrapper .post-title {
  @include Baskerville-Regular;
}
.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6 {
  @include Verb-Light-Italic;

  text-transform: uppercase;
}
.single {
  .wrapper .entry {

    h1, h2, h3 {
      @include Baskerville-Regular;
    }

    h1 {
      @include zw-lowercase( $inuit-base-font-size * 1.9 );
    }

    h2 {
      @include zw-lowercase( $inuit-base-font-size * 1.8 );
    }

    h3 {
      @include zw-lowercase( $inuit-base-font-size * 1.5 );
    }
  }
}

.wrapper blockquote {
  @include Verb-Light-Italic;
}
.wrapper cite {
  @include Verb-Light;

  margin-left: $inuit-base-spacing-unit;
}
.wrapper table {

  font-size: $inuit-base-font-size;
}
.wrapper table thead th {
  @include Verb-Condensed;

  text-align: left;
}
.wrapper table th {
  @include Verb-Condensed;
}
.wrapper dt {
  @include Verb-Condensed-Italic;
}
input[type=submit] {
  @include Verb-Light;
  @include zw-lowercase( $inuit-base-font-size * 1.2 );
}
.read-more {
  @include Verb-Light;
}
#commentform label {
  @include Verb-Light-Italic;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password] {
  @include Verb-Light;
}
textarea {
  @include Verb-Light;
}
#site-header h1 {
  @include Baskerville-Regular;
}
#site-header h2 {
  @include Baskerville-Regular;
}
.post-pages {
  @include Verb-Condensed;
}
.post-navigation {
  @include Baskerville-Italic;
}
.author-name strong {
  @include Baskerville-Italic;
  @include zw-lowercase(  $inuit-base-font-size * 1.5 );
}
#comments h3 {
  @include Verb-Light-Italic;

  text-transform: uppercase;
}
#comments .vcard {
  @include Baskerville-Italic;
  @include zw-lowercase( $inuit-base-font-size * 1.1 );

  b {
    font-weight: 400;
  }
}
#comments .comment-meta {
  @include Verb-Condensed;

  color: $color__grey;
}
#comments .reply {
  @include Verb-Light;

  text-align: right;
}
.posts-nav {
  @include Verb-Light-Italic;
}
.widget-area h2 {
  @include Baskerville-Italic;
}
/* Post Formats */
article.format-quote {
  @include Verb-Light-Italic;
}

/** Actually starting original styling */
/* Utility Classes */

.full-height {

  /* Might not work perfectly on mobile.  If not, try https://github.com/rodneyrehm/viewport-units-buggyfill */
  min-height: 100vh;
  height: auto !important;
}

.full-width {

  width: 100% !important;
}

.hidden {

  visibility: hidden !important;
}

.not-displayed,
.pc3-shuffle-not-displayed {

  display: none !important;
}

.not-height {

  height: 0 !important;
}

.relative {

  position: relative !important;
}

.fade-to-solid {
  @include zw-transition(opacity);
  @include zw-opacity(.65);

  &:hover {
    @include zw-opacity(1);
  }
}

.solid-to-fade {
  @include zw-transition(opacity);
  @include zw-opacity(1);

  &:hover {
    @include zw-opacity(.65);
  }
}

.cursor-default {

  cursor: default !important;
}

.subtle-link {

  color: 		$color__grey--dark;

  &:hover {

    color: 		$color__grey--dark;
  }
}

.whisper {
  @include zw-opacity(.33);
}

.fancy-pants {
  @include Baskerville-Regular;

  font-size: $inuit-base-font-size * 1.15;

  em {
    @include Baskerville-Italic;
  }

  strong, b {
    @include Baskerville-Bold;
  }

}

.fancy-button {

  color: $color__white;
  background: $color__red;
  padding: $inuit-base-spacing-unit / 4;
  font-size: $inuit-base-font-size * 1.25;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-bottom: $inuit-base-spacing-unit / 2;

  &.fancy-button--row-of-1 {

    width: 100%;
  }

  &.fancy-button--row-of-2 {

    width: 49%;
  }

  &.fancy-button--offsite {

    &:after {

      padding-left: $inuit-base-spacing-unit / 3;
      font-family: FontAwesome, Wingdings, fantasy;
      content: "\f101";
    }
  }

  &.fancy-button--download {
    @extend .fancy-button--offsite;

    &:after {

      content: "\f019";
    }
  }

  &.fancy-button--github {
    @extend .fancy-button--offsite;

    &:after {

      content: "\f092";
    }
  }

}

.wrapper {
  @include zw-site-container;

  padding-top: 0;

  .post-meta p,
  .post-meta p strong {
    text-transform: lowercase;
    font-variant: normal;
    font-size: $inuit-base-font-size;
  }
}

/* Elements */
#site-header {
  @include zw-site-container;

  padding-top: 0;
  background: $color__grey--light;

  /* We're putting it in a column, not directly giving it a width */
  .site-meta {
    margin-top: $inuit-base-spacing-unit * .75;
    width: auto;
    position: fixed;
    z-index: 97;

    &.chardinjs-show-element {
      z-index: 100;
    }
  }

  h1, h2 {

    display: inline;
  }

  h1 {

    font-size: $inuit-base-font-size * 3.5;
  }

  h2 {
    @include Baskerville-Regular;
    @include zw-lowercase( $inuit-base-font-size * 3 );

    margin-left: 213px;  /* this value will be overwritten */
  }
}

.chardinjs-overlay {
  @include zw-transition(opacity, .15s);

  z-index: 99;
}

.chardinjs-helper-layer {
  &.chardinjs-bottom,
  &.chardinjs-top,
  &.chardinjs-left,
  &.chardinjs-right {

    position: fixed;
    border: none;
    z-index: 99;
    font-style: italic;

    .chardinjs-tooltip {

      max-width: none;
      padding: 0;

      &.chardinjs-right:before,
      &.chardinjs-left:after,
      &.chardinjs-bottom:before,
      &.chardinjs-top:after {
        content: none;
      }
    }

    &[data-id="chardinjs--contact"] .chardinjs-tooltip {

      @include Baskerville-Regular;
      @include zw-lowercase($inuit-base-font-size * 3);
      left: 100%;
    }

    &[data-id="chardinjs--description"] .chardinjs-tooltip {

      @extend .fancy-pants;
      left: 0 !important;
      top: 168px;

        a {
          @include link-underline(#000, $color__white, $color__yellow);
          @extend .fade-to-solid;
        }
    }

    &[data-id="chardinjs--get-that-overlay-outta-here"] .chardinjs-tooltip {

      font-size: $inuit-base-font-size * 3;
      position: fixed;
      top: auto !important;
      bottom: 12px !important;
      right: 60px !important;
      margin-right: 0 !important;
    }
  }
}

.is-mobile {
  .chardinjs-helper-layer {
    &.chardinjs-bottom,
    &.chardinjs-top,
    &.chardinjs-left,
    &.chardinjs-right {

      &[data-id="chardinjs--contact"] .chardinjs-tooltip {

        left: 37px !important;
        top: 59px !important;
      }

      &[data-id="chardinjs--description"] .chardinjs-tooltip {

        top: 209px !important;
      }

      &[data-id="chardinjs--get-that-overlay-outta-here"] .chardinjs-tooltip {

        /* 2. hide on mobile landscape */
        right: 30px !important;

        @at-root #{&} {
          @media screen and (orientation: landscape) {
            @include zw-visually-hidden(!important);
          }
        }
      }
    }
  }
}

.fp-section__header {

  @extend #site-header;

  padding: $inuit-base-spacing-unit 0 0 0;
  background: transparent;

  .fp-section__header__spacer {
    @include Baskerville-Regular;
    @include zw-lowercase( $inuit-base-font-size * 3 );
    display: inline-block;
    visibility: hidden;
    width: 0; /* can't believe it took me so long to think of this. */
  }
}

.frame__title  {

  padding: ($inuit-base-spacing-unit * .25 ) 0;

  .subhead {
    @include Baskerville-Italic;

    color: $color__grey;
    text-transform: none;
    font-variant: normal;
    font-size: $inuit-base-font-size * 2;
    margin-top: $inuit-base-spacing-unit * .25;
  }

  .subhead__search_results, .subhead__search_again {

    display: none;
  }
}

.frame {

  padding: ( $inuit-base-spacing-unit * .25 ) $inuit-base-spacing-unit;

  div[id^="attachment"].wp-caption {

    .wp-caption-text {
      @include Verb-Condensed-Italic;

      position: relative;
      text-transform: none;
      font-variant: normal;
    }
  }

  .img-container {

    position: relative;
    display: block;

    &.no-padding{
      @include zw-no-padding-hack($inuit-base-spacing-unit);
    }
  }

  &.frame--single {

    background: $color__grey--light;

    article {

      border-bottom: $color__grey 1px dotted;
      margin-bottom: $inuit-base-spacing-unit;

      ol, ul {
        li {

          padding-bottom: $inuit-base-spacing-unit * .5;
        }
      }
    }
  }

  &.frame--splash {

    padding-left: 0;
  }

  &.frame--archive {

    article {

      &:hover .post-date {

        color: $color__grey--still-pretty-light !important;
      }

      .post-title {

        padding-bottom: $inuit-base-spacing-unit * .25;
        font-size: $inuit-base-font-size * 1.8;
        line-height: $inuit-base-line-height * 1.25;
      }

      .post-date {
        @include zw-transition(color);

        color: $color__grey !important;
        margin-bottom: $inuit-base-spacing-unit * 2;
      }

      a {

        display: block;
      }
    }
  }

  /** TODO: Fix this **/
  .sticky {

    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.form-submit {

  text-align: right;
}

input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password] {

  background: transparent;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="url"]:active,
input[type="url"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="password"]:active,
input[type="password"]:focus {

  border: none !important;
  border-bottom: 1px solid $color__red !important;
}

textarea {

  border: 1px solid $color__grey--light;
  background: $color__white;
}


/* Header */

/* Single */
//.sticky {

/* Post metas */

/* Post navigation */
.post-navigation {

  font-size: $inuit-base-font-size * 1.25;

  .alignleft {

    width: 100%;
    padding-bottom: $inuit-base-spacing-unit;
  }

  .alignright {
    @extend .alignleft;

    text-align: right;
  }
}

/* Author Box */
.author-box {
  display: none;
}

/* Comments */
$padding-base: $inuit-base-spacing-unit / 4;

#comments  {

  .comment-body, .comment {

    margin-bottom: $inuit-base-spacing-unit * 2;
  }

  .vcard .avatar {

    margin: $padding-base ($padding-base *2) $padding-base $padding-base;
  }

  .comment-awaiting-moderation {

    padding-left: $inuit-base-spacing-unit * 2.33;
  }


  #commentform label {

    padding-bottom: $padding-base;
  }

  input[type=submit] {
    @include zw-transition(background-color, .1s);

    padding:	($padding-base / 1.5) ($padding-base / .75) $padding-base ($padding-base / .75);
  }
}

/* Footer */
#footer {
  @include zw-site-container;

  border-bottom: $inuit-base-spacing-unit solid #F3F3F3;
}

.widget-area {

  width: auto;
  float: none;
}

.menu-footer-menu-container {

  ul[class*="menu"] {

    margin: 0;
    padding: $inuit-base-spacing-unit;
    @include zw-padding-horizontal();
  }

  li {

    display: inline-block;
    @include zw-padding-horizontal(0, 1);
  }
}


/* Post / Page Formats */
//hide the header and the back_to_top button on 404s
.error404  {

  #site-header .site-meta {

    visibility: hidden;

    &.chardinjs-show-element {

      visibility: visible;
    }
  }

  .back-to-top {

    display: none;
  }
}

/* Back to top button */
.back-to-top {

  $back_to_top_size: $default-padding-horizontal;

  position: fixed;
  top: auto;
  bottom: $inuit-base-spacing-unit;
  right: 0;
  margin-right: $back_to_top_size;
  z-index: 98;

  .back-to-top__link {
    @include zw-button( $back_to_top_size );
  }

  @include media-query("big-desk") {

    margin-right: $big-desk-padding;
  }

  @include media-query("big-ass-desk") {
    margin-right: $big-ass-desk-padding;
  }
}

/* Search bars */
.search-form {

  .search-field, .placeholder {
    @include Baskerville-Regular;
    @include zw-lowercase( $inuit-base-font-size * 3 );
  }

  .screen-reader-text {

    display: none;
  }
}

//search bar in the title on the search page
.fp-section__header .search-form {

  display: inline;

  .search-field {

    /* sort of arbitrary */
    width: 200px;
    min-width: 200px;
    position: relative;
  }

  .search-submit {
    @include zw-button( $default-padding-horizontal, .5 );

    position: absolute;
    right: 0;
    margin: $inuit-base-spacing-unit * .8;
    margin-right: 0;
  }
}

//search bar in the footer
#footer .search-form {

  display: block;
  background: none repeat scroll 0 0 #F9F9F9;
  @include zw-padding-horizontal(1, 2);

  .search-field {
    @include zw-lowercase( $inuit-base-font-size * 2 );

    line-height: $inuit-base-line-height * 2;

    width: 100%;
    border-bottom: 1px solid #F9F9F9;
    padding: 0;

    &:active, &:focus {

      border-bottom: #B4B4B4 1px solid !important;
    }
  }

  /* let's just hide it */
  .search-submit {

    display: none;
  }
}

.fancy-pants .search-form {

  display: inline;

  .search-field {

    @extend .fancy-pants;
    width: 50%;

    border-bottom: transparent 1px solid !important;

    &:active, &:focus {

      border-bottom: $color__white 1px solid !important;
    }
  }

  /* let's just hide it */
  .search-submit {

    display: none;
  }
}
