# font detrius
css/fonts/specimen_files

# sass things we don't care about
*css.map
.sass-cache

# don't check in node_modules
# http://stackoverflow.com/questions/11459475/should-i-check-in-node-modules-to-git-when-creating-a-node-js-app-on-heroku
node_modules

.idea